.jumbotron {
  text-align: center;
  background-color: lightblue;
  padding-left: 60px;
}
/*.container {
  background-image: url("./../img/2.jpeg");
  background-repeat: :  no-repeat;
    background-size:  100%;
  }*/
.totalcost {
  border: 2px solid black;
  width: 120px;
  height: 30px;
  float: none;
}
.container {
  border:2px solid black ;
  min-height: 1000px;
}
